  .attribution {
    font-size: 11px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    margin-top: 10rem;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
  }

  .container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    width: 320px;
  }

  .qr-code {
    height: 280px;
    width: 280px;
    border-radius: 1.5rem;
    border: 1rem white solid
  }

  h2 {
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    margin: 5px 10px 5px 10px;
  }

  p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    margin: 1rem 1.2rem 2rem 1.2rem;
}

@media screen and (max-width: 1000px) {
    body {
        margin-top: 6rem;
    }
}